<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapp.webprj.reply.mapper.ReplyMapper">

    <insert id="insert">
        INSERT INTO tbl_reply (rno, bno, reply, replyer)
        VALUES (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
    </insert>

    <resultMap id="replyMap" type="com.myapp.webprj.reply.domain.Reply">
        <result property="replyDate" column="reply_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <!--  select: return되는 데이터의 형태를 알려줘야 함.  -->
    <select id="read" resultMap="replyMap">
        SELECT * FROM tbl_reply
        WHERE rno = #{rno}
    </select>

    <delete id="delete">
        DELETE FROM tbl_reply
        WHERE rno = #{rno}
    </delete>

    <update id="update">
        UPDATE tbl_reply
        SET reply = #{reply},
        update_date = SYSDATE
        WHERE rno = #{rno}
    </update>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_reply
        WHERE bno = #{bno}
    </select>

    <select id="getList" resultMap="replyMap">
        <![CDATA[
         SELECT  rno, bno, reply, replyer, reply_date, update_date
         FROM
           (
            SELECT /*+INDEX(tbl_reply pk_reply) */
              rownum rn,  rno, bno, reply, replyer, reply_date, update_date
            FROM tbl_reply
            WHERE bno =  #{bno}
                AND rno > 0
                AND rownum <= #{cri.page} * #{cri.amount}
           )
         WHERE rn > (#{cri.page} -1) * #{cri.amount}
        ]]>
    </select>

</mapper>